{% load static wagtailcore_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Into the Moss{% endblock %}</title>

    <link rel="icon" type="image/svg+xml" href="{% static 'images/favicon.svg' %}">
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link type="application/rss+xml" rel="alternate" title="Into the Moss" href="https://intothemoss.com/feed.xml"/>
    {% block extra_css %}{% endblock %}
  </head>
  <body>
    <nav>
      <a class="router-link" href="/">Home</a>
      <a class="router-link" href="/about">About</a>
      <a class="router-link" href="/contact">Contact</a>
      <a href="https://smarturl.it/intothemoss">Podcast</a>
      <a href="https://www.youtube.com/channel/UCzEaX54ErVwZUZJc2sJxjkg">YouTube</a>
      <a href="https://soundcloud.com/into-the-moss">Soundcloud</a>
    </nav>
    <main id="main" class="{% block main_class %}{% endblock %}">
      {% block content %}{% endblock %}
    </main>
    
    {% block extra_js %}{% endblock %}
  </body>
</html>
